networks:
  loftnet:
    driver: bridge
services:
  apigateway:
    build:
      context: .
      dockerfile: src/ApiGateway/Dockerfile
    container_name: apigateway
    ports:
      - "5000:8080"
    depends_on:
      - cartservice
      - orderservice
      - productservice
      - userservice
      - shippingaddressservice
      - paymentservice
      - mediaservice
    networks:
      - loftnet
    restart: always
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:8080

  cartservice:
    build:
      context: .
      dockerfile: src/CartService/Dockerfile
    container_name: cartservice
    ports:
      - "5003:8080"
    environment:
      ASPNETCORE_URLS: http://0.0.0.0:8080
      Services__ProductService: http://productservice:8080
      Services__UserService: http://userservice:8080
      ServiceAuthentication__Token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJzZXJ2aWNlLWFjY291bnQiLCJuYW1lIjoiQ2FydFNlcnZpY2UiLCJyb2xlIjoiU2VydmljZSIsImlzcyI6IkxvZnRVc2VyU2VydmljZSIsImF1ZCI6IkxvZnRVc2VycyIsImlhdCI6MTc2NDI1NjMzNiwic2VydmljZSI6IkNhcnRTZXJ2aWNlIn0.DCyy-zLRsHiULKUjnwQcKP2Z_9gWBl7fsnejvTA6wYo
      Jwt__Key: DevKey_ChangeMe_ForLocalOnly_1234567890
      Jwt__Issuer: LoftUserService
      Jwt__Audience: LoftUsers
      Jwt__ExpireMinutes: "60"
      ConnectionStrings__DefaultConnection: "Server=172.17.4.22;Port=5432;Database=test_loft_shop;User Id=developer;Password=Devp@ssw0rddB4589;"
    networks:
      - loftnet
    restart: always
    depends_on:
      - productservice
      - userservice

  orderservice:
    build:
      context: .
      dockerfile: src/OrderService/Dockerfile
    container_name: orderservice
    ports:
      - "5001:8080"
    environment:
      ASPNETCORE_URLS: http://0.0.0.0:8080
      Services__CartService: http://cartservice:8080
      Services__ProductService: http://productservice:8080
      Services__UserService: http://userservice:8080
      Services__PaymentService: http://paymentservice:8080
      Services__ShippingAddressService: http://shippingaddressservice:8080
      ServiceAuthentication__Token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJzZXJ2aWNlLWFjY291bnQiLCJuYW1lIjoiT3JkZXJTZXJ2aWNlIiwicm9sZSI6IlNlcnZpY2UiLCJpc3MiOiJMb2Z0VXNlclNlcnZpY2UiLCJhdWQiOiJMb2Z0VXNlcnMiLCJpYXQiOjE3NjQyNTYzMzYsInNlcnZpY2UiOiJPcmRlclNlcnZpY2UifQ.dPyz3-MHonLKhQwbJiRTaUl33necFeNlhYNISliB8k0
      Jwt__Key: DevKey_ChangeMe_ForLocalOnly_1234567890
      Jwt__Issuer: LoftUserService
      Jwt__Audience: LoftUsers
      Jwt__ExpireMinutes: "60"
      ConnectionStrings__DefaultConnection: "Server=172.17.4.22;Port=5432;Database=test_loft_shop;User Id=developer;Password=Devp@ssw0rddB4589;"
    networks:
      - loftnet
    restart: always
    depends_on:
      - cartservice
      - productservice
      - userservice
      - shippingaddressservice

  paymentservice:
    build:
      context: .
      dockerfile: src/PaymentService/Dockerfile
    container_name: paymentservice
    ports:
      - "5006:8080"
    environment:
      ASPNETCORE_URLS: http://0.0.0.0:8080
      ConnectionStrings__DefaultConnection: "Server=172.17.4.22;Port=5432;Database=test_loft_shop;User Id=developer;Password=Devp@ssw0rddB4589;"
      Stripe__SecretKey: ${STRIPE_SECRET_KEY}
      Stripe__PublishableKey: ${STRIPE_PUBLISHABLE_KEY}
      Stripe__WebhookSecret: ${STRIPE_WEBHOOK_SECRET:-whsec_test_secret}
      Jwt__Key: DevKey_ChangeMe_ForLocalOnly_1234567890
      Jwt__Issuer: LoftUserService
      Jwt__Audience: LoftUsers
      Jwt__ExpireMinutes: "60"
    networks:
      - loftnet
    restart: always

  productservice:
    build:
      context: .
      dockerfile: src/ProductService/Dockerfile
    container_name: productservice
    ports:
      - "5002:8080"
    environment:
      ASPNETCORE_URLS: http://0.0.0.0:8080
      Jwt__Key: DevKey_ChangeMe_ForLocalOnly_1234567890
      Jwt__Issuer: LoftUserService
      Jwt__Audience: LoftUsers
      Jwt__ExpireMinutes: "60"
      ConnectionStrings__DefaultConnection: "Server=172.17.4.22;Port=5432;Database=test_loft_shop;User Id=developer;Password=Devp@ssw0rddB4589;"
    networks:
      - loftnet
    restart: always

  shippingaddressservice:
    build:
      context: .
      dockerfile: src/ShippingAddressService/Dockerfile
    container_name: shippingaddressservice
    ports:
      - "5005:8080"
    environment:
      ASPNETCORE_URLS: http://0.0.0.0:8080
      Services__UserService: http://userservice:8080
      Jwt__Key: DevKey_ChangeMe_ForLocalOnly_1234567890
      Jwt__Issuer: LoftUserService
      Jwt__Audience: LoftUsers
      Jwt__ExpireMinutes: "60"
      ConnectionStrings__DefaultConnection: "Server=172.17.4.22;Port=5432;Database=test_loft_shop;User Id=developer;Password=Devp@ssw0rddB4589;"
    networks:
      - loftnet
    restart: always
    depends_on:
      - userservice

  userservice:
    build:
      context: .
      dockerfile: src/UserService/Dockerfile
    container_name: userservice
    ports:
      - "5004:8080"
    environment:
      ASPNETCORE_URLS: http://0.0.0.0:8080
      ASPNETCORE_ENVIRONMENT: Development
      Jwt__Key: DevKey_ChangeMe_ForLocalOnly_1234567890
      Jwt__Issuer: LoftUserService
      Jwt__Audience: LoftUsers
      Jwt__ExpireMinutes: "60"
      Services__ShippingAddressService: http://shippingaddressservice:8080
      ConnectionStrings__DefaultConnection: "Server=172.17.4.22;Port=5432;Database=test_loft_shop;User Id=developer;Password=Devp@ssw0rddB4589;"
      Authentication__Google__ClientId: "1031648550234-v296d5d0efagr4mlmpigha8kb1ufmouo.apps.googleusercontent.com"
      Authentication__Google__ClientSecret: "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"
      AllowedOrigins__0: "http://localhost:3000"
      AllowedOrigins__1: "http://127.0.0.1:3000"
      AllowedOrigins__2: "https://loft-shop.pp.ua"
      Email__Smtp__Host: "smtp.zoho.eu"
      Email__Smtp__Port: "465"
      Email__Smtp__User: "loft.mail@zohomail.eu"
      Email__Smtp__Pass: "YKizuYuUtxh9MN4"
      Email__Smtp__From: "loft.mail@zohomail.eu"
    networks:
      - loftnet
    restart: always

  mediaservice:
    build:
      context: .
      dockerfile: src/MediaService/Dockerfile
    container_name: mediaservice
    ports:
      - "5008:8080"
    environment:
      ASPNETCORE_URLS: http://0.0.0.0:8080
      Jwt__Key: DevKey_ChangeMe_ForLocalOnly_1234567890
      Jwt__Issuer: LoftUserService
      Jwt__Audience: LoftUsers
      Jwt__ExpireMinutes: "60"
      ConnectionStrings__DefaultConnection: "Server=172.17.4.22;Port=5432;Database=test_loft_shop;User Id=developer;Password=Devp@ssw0rddB4589;"
    volumes:
      - /var/www/MediaFileLoft/public:/app/storage/public
      - /var/www/MediaFileLoft/private:/app/storage/private
    networks:
      - loftnet
    restart: always
    
volumes:
  pgdata:
    driver: local
  media_uploads:
    driver: local
