networks:
  loftnet:
    driver: bridge
services:
  apigateway:
    build:
      context: .
      dockerfile: src/ApiGateway/Dockerfile
    container_name: apigateway
    ports:
      - "5000:8080"
    depends_on:
      - cartservice
      - orderservice
      - productservice
      - userservice
      - shippingaddressservice
      - paymentservice
      - mediaservice
    networks:
      - loftnet
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:8080

  cartservice:
    build:
      context: .
      dockerfile: src/CartService/Dockerfile
    container_name: cartservice
    ports:
      - "5003:8080"
    environment:
      ASPNETCORE_URLS: http://0.0.0.0:8080
      Services__ProductService: http://productservice:8080
      Services__UserService: http://userservice:8080
      ConnectionStrings__DefaultConnection: "Server=172.17.4.22;Port=5432;Database=test_loft_shop;User Id=developer;Password=Devp@ssw0rddB4589;"
    networks:
      - loftnet
    depends_on:
      - productservice
      - userservice

  orderservice:
    build:
      context: .
      dockerfile: src/OrderService/Dockerfile
    container_name: orderservice
    ports:
      - "5001:8080"
    environment:
      ASPNETCORE_URLS: http://0.0.0.0:8080
      Services__CartService: http://cartservice:8080
      Services__ProductService: http://productservice:8080
      Services__UserService: http://userservice:8080
      Services__PaymentService: http://paymentservice:8080
      ConnectionStrings__DefaultConnection: "Server=172.17.4.22;Port=5432;Database=test_loft_shop;User Id=developer;Password=Devp@ssw0rddB4589;"
    networks:
      - loftnet
    depends_on:
      - cartservice
      - productservice
      - userservice

  paymentservice:
    build:
      context: .
      dockerfile: src/PaymentService/Dockerfile
    container_name: paymentservice
    ports:
      - "5006:8080"
    environment:
      ASPNETCORE_URLS: http://0.0.0.0:8080
      ConnectionStrings__DefaultConnection: "Server=172.17.4.22;Port=5432;Database=test_loft_shop;User Id=developer;Password=Devp@ssw0rddB4589;"
    networks:
      - loftnet

  productservice:
    build:
      context: .
      dockerfile: src/ProductService/Dockerfile
    container_name: productservice
    ports:
      - "5002:8080"
    environment:
      ASPNETCORE_URLS: http://0.0.0.0:8080
      ConnectionStrings__DefaultConnection: "Server=172.17.4.22;Port=5432;Database=test_loft_shop;User Id=developer;Password=Devp@ssw0rddB4589;"
    networks:
      - loftnet

  shippingaddressservice:
    build:
      context: .
      dockerfile: src/ShippingAddressService/Dockerfile
    container_name: shippingaddressservice
    ports:
      - "5005:8080"
    networks:
      - loftnet

  userservice:
    build:
      context: .
      dockerfile: src/UserService/Dockerfile
    container_name: userservice
    ports:
      - "5004:8080"
    environment:
      ASPNETCORE_URLS: http://0.0.0.0:8080
      Jwt__Key: DevKey_ChangeMe_ForLocalOnly_1234567890
      Jwt__Issuer: LoftUserService
      Jwt__Audience: LoftUsers
      Jwt__ExpireMinutes: "60"
      ConnectionStrings__DefaultConnection: "Server=172.17.4.22;Port=5432;Database=test_loft_shop;User Id=developer;Password=Devp@ssw0rddB4589;"
    networks:
      - loftnet

  mediaservice:
    build:
      context: .
      dockerfile: src/MediaService/Dockerfile
    container_name: mediaservice
    ports:
      - "5008:8080"
    environment:
      ASPNETCORE_URLS: http://0.0.0.0:8080
      Jwt__Key: DevKey_ChangeMe_ForLocalOnly_1234567890
      Jwt__Issuer: LoftUserService
      Jwt__Audience: LoftUsers
      Jwt__ExpireMinutes: "60"
      ConnectionStrings__DefaultConnection: "Server=172.17.4.22;Port=5432;Database=test_loft_shop;User Id=developer;Password=Devp@ssw0rddB4589;"
    volumes:
      - media_uploads:/app/storage
    networks:
      - loftnet

volumes:
  pgdata:
    driver: local
  media_uploads:
    driver: local
